<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <title>NewsSite</title>
    <meta name="author" content="ORKEMEY">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

  </head>
  <body>

    <div class="container-auto">

        <nav class="navbar navbar-dark bg-primary">
            <a href="/" class="navbar-brand">News! </a>
          </nav>
          <br>

        <div  class="container-narrow">

        <form action='/addNews' method="post" id="AddNews" class="form-signin">
          <h2 id="SendFormLabel" class="form-signin-heading">Add news</h2>
          <input type="text" name="Header" id="Header" class="input-block-level" placeholder="Title" >
          <textarea id="Content" name="Content" class="form-control" cols="75" rows="5" placeholder="Type your news"></textarea>
          <br>
          <input type="submit" class="btn btn-large btn-success" id="btn_AddNews" value="Add"></input>
        </form>

      </div>

   


    <% results.forEach(element => { %>
        <hr>
    <div  class="news">
        <a href="/News/ <%= element.header%>"> <h4><%= element.header %></h4></a>
        <p><%= element.content.toString().substr(0, 50) %></p>
       
    </div>
    <% }); %>

      <br><hr>
      <div class="footer">
        <p>© ORKEMEY</p>
      </div>

    </div>

    <script>
    var btn_AddNews = document.getElementById('btn_AddNews');
    var Content = document.getElementById('Content');
    var Header = document.getElementById('Header');

    btn_AddNews.onclick = function() {
        Content.val('');
        Header.val('');
    };
    </script>
  </body>

</html>